<div class="container-fluid py-0 px-0" > <!-- position:relative;margin-bottom:0px;bottom:0;left:0;right:0;width:100%; -->
  <footer class="mt-4 position-absolute" style="background-color:#ff6d12;width:100%;">
    <ul class="nav justify-content-center border-bottom p-2 m-2">
      <li class="nav-item"><a href="https://www.rbc.ru/business/" target="_blank" class="nav-link px-2 text-white"><b>РБК</b></a></li>
      <li class="nav-item"><a href="https://www.vedomosti.ru/" target="_blank" class="nav-link px-2 text-white"><b>Ведомости</b></a></li>
      <li class="nav-item"><a href="https://www.kommersant.ru/" target="_blank" class="nav-link px-2 text-white"><b>Коммерсантъ</b></a></li>
      <li class="nav-item"><a href="https://cre.ru/" target="_blank" class="nav-link px-2 text-white"><b>CRE</b></a></li>
      <li class="nav-item"><a href="https://www.arendator.ru/news/" target="_blank" class="nav-link px-2 text-white"><b>Арендатор.ру</b></a></li>
      <li class="nav-item"><a href="https://zachestnyibiznes.ru/" target="_blank" class="nav-link px-2 text-white"><b>Зачестныйбизнес.ру</b></a></li>
      <li class="nav-item"><a href="https://pkk5-rosreestr.ru/" target="_blank" class="nav-link px-2 text-white"><b>ПКК Росреестра</b></a></li>
    </ul>
    <p class="text-center text-white p-2 m-3"><b>NT Properties</b> © <b>2018 - <span class="yearJS"></b></span></p>
  </footer>
</div>

<script>
  $(document).ready(function() {
    $('.yearJS').text( new Date().getFullYear() );
  });
</script>