{% extends "home_navbar.html" %}
{% block content %}
    <form method="POST" action="{% url 'create_block' %}" enctype="multipart/form-data"> {% csrf_token %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        {{ form.media }}

        <div class="container">
            <div class="row">
                    <div class="auto-mx g-2"><h5><b>Создать вакансию</b></h5></div>
                </div>
                <div class="row">
                    <div class="col auto-mx g-2"><b>#CHOSE THE PROPERTY [TO DO]</b></div>
                    <div class="col-2 auto-mx g-2">{{form.block_name}}</div>
                    <div class="col g-2">
                        <div class="input-group">
                            <div class="input-group-text">Дата обновления</div>
                            <div class="col">{{ form.update }}</div>
                        </div>
                    </div>
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-8 input-group-text"><b>На рынке</b></div>
                            {{form.active}}
                            <label class="col-4 btn btn-outline-primary" for="check_active">
                                <svg id="checked-icon-11" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>
                                <svg id="unchecked-icon-11" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="display:none" class="bi bi-x-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg>
                            </label>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-4 auto-mx g-2" style="padding:7px;"><b>Площадь</b></div>
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-9 input-group-text"><b>Предлагается в Аренду</b></div>
                            {{form.lease_offered}}
                            <label class="col-3 btn btn-outline-primary" for="check_lease_offered">
                                <svg id="checked-icon-0" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>
                                <svg id="unchecked-icon-0" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="display:none" class="bi bi-x-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg>
                            </label>
                        </div>
                    </div>
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-9 input-group-text"><b>Предлагается на Продажу</b></div>
                            {{form.sale_offered}}
                            <label class="col-3 btn btn-outline-primary" for="check_sale_offered">
                                <svg id="checked-icon-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="display:none" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>
                                <svg id="unchecked-icon-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  class="bi bi-x-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg>
                            </label>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-4 input-group-text">Общая</div>
                            {{ form.total_area }}
                            <div class="col-3 input-group-text">м&#178;</div>
                        </div>
                    </div>
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-4 input-group-text">Средняя ставка</div>
                            {{ form.lease_avg_price }}
                            <div class="col-3 input-group-text">₽/м&#178;/год</div>
                        </div>
                    </div>
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-4 input-group-text">Средняя цена</div>
                            {{ form.sale_avg_price }}
                            <div class="col-3 input-group-text">₽/м&#178;</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-4 input-group-text">Склад</div>
                            {{ form.whs_area }}
                            <div class="col-3 input-group-text">м&#178;</div>
                        </div>
                    </div>
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-4 input-group-text">Склад ставка</div>
                            {{ form.lease_whs_price }}
                            <div class="col-3 input-group-text">₽/м&#178;/год</div>
                        </div>
                    </div>
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-4 input-group-text">Склад цена</div>
                            {{ form.sale_whs_price }}
                            <div class="col-3 input-group-text">₽/м&#178;</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-4 input-group-text">Офис</div>
                            {{ form.office_area }}
                            <div class="col-3 input-group-text">м&#178;</div>
                        </div>
                    </div>
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-4 input-group-text">Офис ставка</div>
                            {{ form.lease_office_price }}
                            <div class="col-3 input-group-text">₽/м&#178;/год</div>
                        </div>
                    </div>
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-4 input-group-text">Офис цена</div>
                            {{ form.sale_office_price }}
                            <div class="col-3 input-group-text">₽/м&#178;</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-4 input-group-text">Мезонин</div>
                            {{ form.mez_area }}
                            <div class="col-3 input-group-text">м&#178;</div>
                        </div>
                    </div>
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-4 input-group-text">Мезонин ставка</div>
                            {{ form.lease_mez_price }}
                            <div class="col-3 input-group-text">₽/м&#178;/год</div>
                        </div>
                    </div>
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-4 input-group-text">Мезонин цена</div>
                            {{ form.sale_mez_price }}
                            <div class="col-3 input-group-text">₽/м&#178;</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-offset auto-mx g-2"></div>
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-4 input-group-text">OPEX</div>
                            {{form.opex}}
                            <div class="col-3 input-group-text">₽/м&#178;</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-offset auto-mx g-2"></div>
                        <div class="col-4 auto-mx g-2">
                            <div class="input-group">
                            <div class="col-9 input-group-text">OPEX включён в ставку</div>
                            {{form.opex_included}}
                            <label class="col-3 btn btn-outline-primary" for="check_opex_included">
                                <svg id="checked-icon-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="display:none" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>
                                <svg id="unchecked-icon-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  class="bi bi-x-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-offset auto-mx g-2"></div>
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-4 input-group-text">Ставка общая</div>
                            {{ form.lease_total_price }}
                            <div class="col-3 input-group-text">₽/мес</div>
                        </div>
                    </div>
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-4 input-group-text">Цена общая</div>
                            {{ form.sale_total_price }}
                            <div class="col-3 input-group-text">₽</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-offset auto-mx g-2"></div>
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-9 input-group-text">НДС включён в ставку</div>
                            {{form.lease_vat_included}}
                            <label class="col-3 btn btn-outline-primary" for="check_lease_vat_included">
                                <svg id="checked-icon-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="display:none" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>
                                <svg id="unchecked-icon-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  class="bi bi-x-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg>
                            </label>
                        </div>
                    </div>
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-9 input-group-text">НДС включён в цену</div>
                            {{form.sale_vat_included}}
                            <label class="col-3 btn btn-outline-primary" for="check_sale_vat_included">
                                <svg id="checked-icon-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="display:none" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>
                                <svg id="unchecked-icon-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  class="bi bi-x-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="auto-mx g-3"><h6><b>Дополнительно</b></h6></div>
                </div>
                <div class="row">
                    <div class="col-6 auto-mx g-2">
                        <div class="input-group">


                            <div class="col input-group-text">Температурный режим</div>
                            {{form.temp_cond_min}}
                            <div class="input-group-text"> ... </div>
                            {{form.temp_cond_max}}
                            <div class="input-group-text">&#8451;</div>
                            {{ form.temp }}
                            <label class="col-2 btn btn-outline-primary" for="check_temp">
                                <svg id="checked-icon-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="display:none" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>
                                <svg id="unchecked-icon-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  class="bi bi-x-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg>
                            </label>

                        </div>
                    </div>
                    <div class="col-6 auto-mx g-2">
                        <div class="input-group">


                            <div class="col input-group-text">Предлагаются услуги 3PL</div>
                            {{form.log_price}}
                            <div class="input-group-text">₽/пм/сут</div>
                            {{form.log_offered}}
                            <label class="col-2 btn btn-outline-primary" for="check_log_offered">
                                <svg id="checked-icon-6" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="display:none" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>
                                <svg id="unchecked-icon-6" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  class="bi bi-x-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg>
                            </label>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 auto-mx g-3"><h6><b>Технические характеристики</b></h6></div>
                    <div class="col-1 col-offset g-3"></div>
                    <div class="col auto-mx g-3"><h6><b>Комментарии и файлы</b></h6></div>
                </div>
                <div class="row">
                    <div class="col-3 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-6 input-group-text">Высота потолков</div>
                            {{form.celling_height}}
                            <div class="input-group-text">м</div>
                        </div>
                    </div>
                    <div class="col-3 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-6 input-group-text">Кол-во доков</div>
                            {{form.docks_amount}}
                            <div class="input-group-text">шт</div>
                        </div>
                    </div>
                    <div class="col-2 auto-mx g-2">
                        <div class="input-group">
                            <div class="col input-group-text">Стеллажи</div>
                            {{form.racks}}
                            <label class="col btn btn-outline-primary" for="check_racks">
                                <svg id="checked-icon-7" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="display:none" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>
                                <svg id="unchecked-icon-7" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  class="bi bi-x-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg>
                            </label>
                        </div>
                    </div>
                    <div class="col auto-mx g-2">{{form.commercial_comment}}</div>
                </div>
                <div class="row">
                    <div class="col-3 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-6 input-group-text">Шаг колонн</div>
                            {{form.column_grid}}
                            <div class="input-group-text">м</div>
                        </div>
                    </div>
                    <div class="col-3 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-6 input-group-text">Кол-во ворот</div>
                            {{form.gates_amount}}
                            <div class="input-group-text">шт</div>
                        </div>
                    </div>
                    <div class="col-2 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-6 input-group-text">Кран-балка</div>
                            {{form.cathead}}
                            <label class="col btn btn-outline-primary" for="check_cathead">
                                <svg id="checked-icon-8" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="display:none" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>
                                <svg id="unchecked-icon-8" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  class="bi bi-x-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg>
                            </label>
                        </div>
                    </div>
                    <div class="col auto-mx g-2">{{form.tech_comment}}</div>
                </div>
                <div class="row">
                    <div class="col-3 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-6 input-group-text">Макс. нагрузка</div>
                            {{form.floor_load}}
                            <div class="input-group-text">т/м&#178;</div>
                        </div>
                    </div>
                    <div class="col-3 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-6 input-group-text">Уровень пола</div>
                            {{form.floor_level}}
                            <div class="input-group-text">м</div>
                        </div>
                    </div>
                    <div class="col-2 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-6 input-group-text">Рампа</div>
                            {{form.ramp}}
                            <label class="col btn btn-outline-primary" for="check_ramp">
                                <svg id="checked-icon-9" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="display:none" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>
                                <svg id="unchecked-icon-9" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  class="bi bi-x-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 auto-mx g-2">
                            <div class="input-group">
                                <div class="col-5 input-group-text">Тип полов</div>
                                {{form.floor_type}}
                            </div>
                        </div>
                        <div class="col-3 auto-mx g-2">
                            <div class="input-group">
                                <div class="col-5 input-group-text">Отопление</div>
                                {{form.heating}}
                            </div>
                        </div>
                        <div class="col-2 auto-mx g-2">
                            <div class="input-group">
                                <div class="col-6 input-group-text">Кросс-док</div>
                                {{form.cross_dock}}
                                <label class="col btn btn-outline-primary" for="check_cross_dock">
                                    <svg id="checked-icon-10" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="display:none" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>
                                    <svg id="unchecked-icon-10" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  class="bi bi-x-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg>
                                </label>
                            </div>
                        </div>
                        <div class="col-4 auto-mx g-2">
                            <div class="input-group">
                                <div class="col-5 input-group-text">Фото</div>
                                {{form.photo}}
                            </div>
                        </div>


                </div>
                <div class="row">
                    <div class="col-3 auto-mx g-2">
                        <div class="input-group"><div class="col-5 input-group-text">
                            Пожарная система
                        </div>
                            {{form.fire_system_type}}
                        </div>
                    </div>
                    <div class="col-3 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-5 input-group-text">Эл. мощности</div>
                            {{form.el_power}}
                            <div class="input-group-text">кВт</div>
                        </div>
                    </div>
                    <div class="col-2 col-offset"></div>
                    <div class="col-4 auto-mx g-2">
                        <div class="input-group">
                            <div class="col-5 input-group-text">
                                План
                            </div>
                            {{ form.plan }}
                        </div>
                    </div>
                </div>
        </div>
        <br>
        <input class='btn btn-primary' type="submit" value="Сохранить">
    </form>
    <!-- Changes icon depending on checkbox status -->
    <script>
    const arr_checkbox_ids = ['#check_lease_offered','#check_sale_offered','#check_opex_included',
                              '#check_lease_vat_included', '#check_sale_vat_included', '#check_temp',
                              '#check_log_offered','#check_racks', '#check_cathead',
                              '#check_ramp', '#check_cross_dock', '#check_active']
    const arr_checkboxes = []
    const arr_checked_icons = []
    const arr_unchecked_icons = []

    for (let i = 0; i < arr_checkbox_ids.length; i++) {
        window.addEventListener('DOMContentLoaded', () => {
            arr_checkboxes.push(document.querySelector(arr_checkbox_ids[i]));
            arr_checked_icons.push(document.querySelector('#checked-icon-' + i));
            arr_unchecked_icons.push(document.querySelector('#unchecked-icon-' + i));

            arr_checkboxes[i].addEventListener('change', () => {
            if (arr_checkboxes[i].checked) {
                arr_checked_icons[i].setAttribute('style', 'text-align:center;display:inline;');
                arr_unchecked_icons[i].setAttribute('style', 'display:none');
            } else {
                arr_checked_icons[i].setAttribute('style', 'display:none');
                arr_unchecked_icons[i].setAttribute('style', 'text-align:center;display:inline;');
            }
        });
    });


    }

    </script>
{% endblock %}

<!-- <script>

    window.addEventListener('DOMContentLoaded', () => {
    const checkbox = document.querySelector('#check_lease_offered');
    const checkedIcon = document.querySelector('#checked-icon');
    const uncheckedIcon = document.querySelector('#unchecked-icon');

    checkbox.addEventListener('change', () => {
    if (checkbox.checked) {
      checkedIcon.setAttribute('style', 'text-align:center;display:inline;');
      uncheckedIcon.setAttribute('style', 'display:none');
    } else {
      checkedIcon.setAttribute('style', 'display:none');
      uncheckedIcon.setAttribute('style', 'text-align:center;display:inline;');
    }
    });
    });
    </script> -->