{% extends "home_navbar.html" %}
{% block content %}
    <div class="container">
        <div class="row">
                <div class="col mx-auto">
                <form method="POST" action="{% url 'create_company' %}" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <div class="col-3 col-offset"></div>
                            <div class="col-6 auto-mx g-2"><h5><b>Создать компанию</b></h5></div>
                        </div>
                        <div class="row">
                            <div class="g-2">
                                <div class="input-group">
                                    <div class="col-5 input-group-text">Название бренда</div>
                                    {{ form1.brand_name }}
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col g-2 auto-mx btn-group">
                                {{form1.landlord}}
                                <label class="col-3 btn btn-outline-primary" for="check_landlord"><b>Собственник</b></label>
                                {{form1.client}}
                                <label class="col-3 btn btn-outline-primary" for="check_client"><b>Клиент</b></label>
                                {{form1.agent}}
                                <label class="col-3 btn btn-outline-primary" for="check_agent"><b>Агент</b></label>
                                {{form1.logist}}
                                <label class="col-3 btn btn-outline-primary" for="check_logist"><b>Логист</b></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col g-2 auto-mx">
                                <div class="input-group">
                                    <label class="col-3 btn btn-secondary ">Выбрать...{{ form1.logo }}</label>
                                    <div class="col-9 input-group-text">Лого</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="g-2">
                                <div class="input-group">
                                    <div class="col-5 input-group-text">Сфера деятельности</div>
                                    {{ form1.industry }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <input type="submit" class="btn btn-primary g-2" value="Сохранить">
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-1 col-offset"></div>
            <div class="col mx-auto">
                <form method="POST" action="{% url 'create_company' %}" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <div class="col-3 col-offset"></div>
                            <div class="col-6 auto-mx g-2"><h5><b>Создать юр. лицо</b></h5></div>
                        </div>
                        <div class="row">
                            <div class="g-2">
                                <div class="input-group">
                                    <div class="col-5 input-group-text">Наименование</div>
                                    {{ form2.legal_name }}
                                </div>
                            </div>
                            <div class="g-2">
                                <div class="input-group">
                                    <div class="col-5 input-group-text">ОГРН</div>
                                    {{ form2.ogrn }}
                                </div>
                            </div>
                            <div class="g-2">
                                <div class="input-group">
                                    <div class="col-5 input-group-text">ИНН</div>
                                    {{ form2.inn }}
                                </div>
                            </div>
                            <div class="g-2">
                                <div class="input-group">
                                    <div class="col-5 input-group-text">КПП</div>
                                    {{ form2.kpp }}
                                </div>
                            </div>
                            <div class="g-2">
                                <div class="input-group">
                                    <div class="col-5 input-group-text">Юр. адрес</div>
                                    {{ form2.legal_address }}
                                </div>
                            </div>
                            <div class="g-2">
                                <div class="input-group">
                                    <div class="col-5 input-group-text">Почтовый адрес</div>
                                    {{ form2.post_address }}
                                </div>
                            </div>
                            <div class="g-2">
                                <div class="input-group">
                                    <div class="col-5 input-group-text">Руководитель</div>
                                    {{ form2.ceo }}
                                </div>
                            </div>
                            <div class="g-2">
                                <div class="input-group">
                                    <div class="col-5 input-group-text">Банк</div>
                                    {{ form2.bank_name }}
                                </div>
                            </div>
                            <div class="g-2">
                                <div class="input-group">
                                    <div class="col-5 input-group-text">Рассчётный счёт</div>
                                    {{ form2.p_account }}
                                </div>
                            </div>
                            <div class="g-2">
                                <div class="input-group">
                                    <div class="col-5 input-group-text">Корреспондентский счёт</div>
                                    {{ form2.c_account }}
                                </div>
                            </div>
                            <div class="g-2">
                                <div class="input-group">
                                    <div class="col-5 input-group-text">БИК</div>
                                    {{ form2.bik }}
                                </div>
                            </div>
                            <div class="g-2">
                                <div class="input-group">
                                    <div class="col-5 input-group-text">Телефон</div>
                                    {{ form2.phone }}
                                </div>
                            </div>
                            <div class="g-2">
                                <div class="input-group">
                                    <div class="col-5 input-group-text">e-mail</div>
                                    {{ form2.email }}
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary g-2" value="Сохранить">
                        </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}