{% extends "home_navbar.html" %}
{% block content %}
    <form method="POST" action="{% url 'create_property' %}" enctype="multipart/form-data"> {% csrf_token %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        {{ form.media }}
        <div class="container">
                <div class="col-4 mx-auto">
                    {{ form.as_p }}
                </div>
        </div>
        <input type="submit" value="Сохранить">
    </form>
{% endblock %}