{% extends "home_navbar.html" %}
{% block content %}
    <form method="POST" action="{% url 'create_property' %}" enctype="multipart/form-data"> {% csrf_token %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        {{ form.media }}
        <div class="container">
            <div class="row">
                <div class="col-3 col-offset"></div>
                <div class="col-6 auto-mx g-2"><h5><b>Создать объект недвижимости</b></h5></div>
            </div>
            <div class="row">
                <div class="col-4 col-offset"></div>
                <div class="col-4 g-2">
                    <div class="input-group">
                        <div class="col-4 input-group-text">Тип объекта</div>
                        {{ form.property_type }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-offset"></div>
                <div class="col-4 g-2">
                    <div class="input-group">
                        <div class="col-4 input-group-text">Название</div>
                        {{ form.name }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-offset"></div>
                <div class="col-4 g-2">
                    <div class="input-group">
                        <div class="col-4 input-group-text">Площадь</div>
                        {{ form.gla }}
                        <div class="col-2 input-group-text">м&#178;</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-offset"></div>
                <div class="col-4 g-2"><div class="input-group">
                        <div class="col-4 input-group-text">Регион</div>
                        {{ form.region }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-offset"></div>
                <div class="col-4 g-2">
                    <div class="input-group">
                        <div class="col-4 input-group-text">Шоссе</div>
                        {{ form.highway }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-offset"></div>
                <div class="col-4 g-2">
                    <div class="input-group">
                        <div class="input-group-text col-7">Удаленность от КАД</div>
                        {{ form.kad_distance }}
                        <div class="input-group-text col-2">км</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-offset"></div>
                <div class="col-4 g-2">
                    <div class="input-group">
                        <div class="input-group-text col-4">Широта</div>
                        {{ form.location_latitude }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-offset"></div>
                <div class="col-4 g-2">
                    <div class="input-group">
                        <div class="input-group-text col-4">Долгота</div>
                        {{ form.location_longitude }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-offset"></div>
                <div class="col-4 g-2">
                    <div class="input-group">
                        <div class="col-4 input-group-text">Адрес</div>
                        {{ form.address }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-offset"></div>
                <div class="col-4 g-2"><div class="input-group">
                        <div class="col-7 input-group-text">Дата ввода в эксплуатацию</div>
                        <div class="col-5">{{ form.built_date }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-offset"></div>
                <div class="col-4 g-2">
                    <div class="input-group">
                            <label class="col-4 btn btn-secondary ">Выбрать...{{ form.photo }}</label>
                            <div class="col-8 input-group-text">Фото</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-offset"></div>
                <div class="col-4 g-2">
                    <div class="input-group">
                            <label class="col-4 btn btn-secondary ">Выбрать...{{ form.plan }}</label>
                        <div class="col-8 input-group-text">Ген. план</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-offset"></div>
                <div class="col-4 g-2"><div class="input-group">
                        <div class="col-7 input-group-text">Дата обновления</div>
                        <div class="col-5">{{ form.update }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-offset"></div>
                <input type="submit" class="col-4 btn btn-primary g-2" value="Сохранить">
            </div>

        </div>


    </form>
{% endblock %}